:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #1E201E;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.gm-post {
	border-radius: 12px;
}

.hero {
	display: flex;
	flex-flow: row nowrap;
	gap: 5rem;
}

.left {
	flex: 0 1 320px;
}

.right {
	flex: 1;
	margin-top: 20vh;
}

.fixed {
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	justify-content: center;
	width: 320px;
	height: calc(100vh - 4rem);
}