@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
	font-family: "Sofia Sans", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #080908;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.rt-BaseButton {
	cursor: pointer !important;
}

.gm-post {
	border-radius: 12px;
	border: 1px solid #080908;
}

.hero {
	display: flex;
	flex-flow: row nowrap;
	gap: 5rem;
}

.left {
	flex: 0 1 320px;
}

.right {
	flex: 1;
	margin-top: 20vh;
}

.fixed {
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	justify-content: center;
	width: 320px;
	height: calc(100vh - 4rem);
}